In [2]:
%matplotlib inline
import sys
sys.path.append('..')
from api import *
from api.Analysis import DELTA
from Math.Accumulators import Log
from Math.Accumulators import MovingRank
from Math.Accumulators.IAccumulators import Pow
import datetime as dt
import numpy as np
import numpy.matlib as matlib
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import select, and_
from model import Market

In [2]:
engine = create_engine('postgresql+psycopg2://alpha:alpha@180.166.26.82:8889/alpha')
begin_date = '2018-12-01'
end_date = '2018-12-28'

In [5]:
query = select([Market]).where(
            and_(Market.trade_date >= begin_date, Market.trade_date <= end_date, ))
mkt_df = pd.read_sql(query, engine)
mkt_df.rename(columns={'preClosePrice':'pre_close','openPrice':'openPrice',
                      'highestPrice':'highestPrice','lowestPrice':'lowestPrice',
                      'closePrice':'closePrice','turnoverVol':'turnoverVol',
                      'turnoverValue':'turnover_value','accumAdjFactor':'accum_adj',
                       'vwap':'vwap'}, inplace=True)
mkt_df = mkt_df[[('000000' + str(code))[-6:][0] in '036' for code in mkt_df['code']]]
trade_date_list = list(set(mkt_df.trade_date))
trade_date_list.sort(reverse=True)
mkt_df = mkt_df.set_index(['trade_date', 'code'])
mkt_df = mkt_df[mkt_df['turnoverVol'] > 0]

In [6]:
df = mkt_df.loc['2018-12-03']
df.head(5)

                secShortName exchangeCD  pre_close  actPreClosePrice  \
trade_date code
2018-12-03 1            平安银行       XSHE      10.36             10.36
           2             万科A       XSHE      25.44             25.44
           4            国农科技       XSHE      16.22             16.22
           5            世纪星源       XSHE       3.00              3.00
           6            深振业A       XSHE       5.39              5.39

                 openPrice  highestPrice  lowestPrice  closePrice  \
trade_date code
2018-12-03 1         10.59         10.66        10.47       10.59
           2         26.00         26.06        24.81       25.73
           4         16.39         16.87        16.39       16.72
           5          3.03          3.12         3.03        3.08
           6          5.53          5.68         5.44        5.54

                 turnoverVol  turnover_value  ...  turnoverRate  accum_adj  \
trade_date code                               ...
2018-12-03 1       106409717    1.126375e+09  ...        0.0062        1.0
           2        60814944    1.544457e+09  ...        0.0063        1.0
           4          413290    6.895620e+06  ...        0.0050        1.0
           5        11015887    3.380414e+07  ...        0.0116        1.0
           6        22137903    1.228517e+08  ...        0.0164        1.0

                 negMarketValue   marketValue  chgPct        PE       PE1  \
trade_date code
2018-12-03 1       1.818329e+11  1.818347e+11  0.0222    7.4242    6.6668
           2       2.499713e+11  2.840374e+11  0.0114    9.1787   15.2331
           4       1.387981e+09  1.404090e+09  0.0308  123.0662 -406.3154
           5       2.929765e+09  3.260294e+09  0.0267   85.6761  374.3475
           6       7.469626e+09  7.478973e+09  0.0278    7.7124   11.1462

                      PB  isOpen    vwap
trade_date code
2018-12-03 1      0.7730       1  10.585
           2      2.0288       1  25.396
           4     11.0496       1  16.685
           5      2.4531       1   3.069
           6      1.2836       1   5.549

[5 rows x 21 columns]

### alpha 191 -2 
$-1*delta(((close-low)-(high-close))/(high-low),1)$

In [49]:
alpha2 = DELTA(((CLOSE() - LOW()) - (HIGH() -CLOSE())) / (HIGH() - LOW()),1) * -1

In [8]:
t.transform(df).head(3)

/home/kerry/work/env/alpha-mind/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/kerry/work/env/alpha-mind/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

                 transformed
trade_date code
2018-12-03 1       -0.263158
           2       -0.208842
           4        0.097000

### alpha 191 -26
$(CLOSE+HIGH+LOW)/3$

In [50]:
alpha26 = (CLOSE() + HIGH() + LOW()) / 3

In [19]:
t.transform(df).head(3)

/home/kerry/work/env/alpha-mind/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                 transformed
trade_date code
2018-12-03 1       10.573333
           2       25.533333
           4       16.660000

### alpha 191 -150
$(CLOSE+HIGH+LOW)/3*VOLUME$

In [51]:
alpha150 = (CLOSE() + HIGH() + LOW()) /3 * VOLUME()

In [31]:
t.transform(df).head(3)

/home/kerry/work/env/alpha-mind/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                  transformed
trade_date code
2018-12-03 1     1.125105e+09
           2     1.552808e+09
           4     6.885411e+06

In [54]:
t = alpha2+alpha26+alpha150

In [55]:
t.transform(df).head(3)

/home/kerry/work/env/alpha-mind/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/kerry/work/env/alpha-mind/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

                  transformed
trade_date code
2018-12-03 1     1.125105e+09
           2     1.552808e+09
           4     6.885428e+06