In [3]:
%matplotlib inline
import sys
sys.path.append('..')
from api import *
from api.Analysis import DELTA
from Math.Accumulators import Log
from Math.Accumulators import MovingRank
from Math.Accumulators.IAccumulators import Pow
from Math.Accumulators.StatefulAccumulators import MovingCorrelation
from Analysis.CrossSectionValueHolders import CSRankedSecurityValueHolder
from Analysis.CrossSectionValueHolders import CSPercentileSecurityValueHolder
from Analysis.SecurityValueHolders import SecurityIIFValueHolder
from Analysis.SecurityValueHolders import SecurityDeltaValueHolder
from Analysis.SecurityValueHolders import SecurityShiftedValueHolder
from Analysis.SecurityValueHolders import SecurityLatestValueHolder
from Analysis.TechnicalAnalysis.StatelessTechnicalAnalysers import SecurityMinimumValueHolder
from Analysis.TechnicalAnalysis.StatelessTechnicalAnalysers import SecurityMaximumValueHolder
from Analysis.TechnicalAnalysis.StatelessTechnicalAnalysers import SecurityExpValueHolder
from Analysis.TechnicalAnalysis.StatelessTechnicalAnalysers import SecuritySqrtValueHolder
from Analysis.TechnicalAnalysis.StatelessTechnicalAnalysers import SecuritySignValueHolder
from Analysis.TechnicalAnalysis.StatelessTechnicalAnalysers import SecurityLogValueHolder
from Analysis.TechnicalAnalysis.StatefulTechnicalAnalysers import SecurityMovingMax
from Analysis.TechnicalAnalysis import SecurityMovingAverage
from Analysis.TechnicalAnalysis import SecurityMovingCorrelation
from Analysis.TechnicalAnalysis import SecurityMovingAverage
from Analysis.TechnicalAnalysis import SecurityMovingSum
from Analysis.TechnicalAnalysis import SecurityMovingStandardDeviation
from Analysis.TechnicalAnalysis import SecurityMovingRank
import datetime as dt
import numpy as np
import numpy.matlib as matlib
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import select, and_
from model import Market

In [4]:
engine = create_engine('postgresql+psycopg2://alpha:alpha@180.166.26.82:8889/alpha')
begin_date = '2018-12-01'
end_date = '2018-12-28'

In [5]:
query = select([Market]).where(
            and_(Market.trade_date >= begin_date, Market.trade_date <= end_date, ))
mkt_df = pd.read_sql(query, engine)
mkt_df.rename(columns={'preClosePrice':'pre_close','openPrice':'openPrice',
                      'highestPrice':'highestPrice','lowestPrice':'lowestPrice',
                      'closePrice':'closePrice','turnoverVol':'turnoverVol',
                      'turnoverValue':'turnover_value','accumAdjFactor':'accum_adj',
                       'vwap':'vwap'}, inplace=True)
mkt_df = mkt_df[[('000000' + str(code))[-6:][0] in '036' for code in mkt_df['code']]]
trade_date_list = list(set(mkt_df.trade_date))
trade_date_list.sort(reverse=True)
mkt_df = mkt_df.set_index(['trade_date', 'code'])
mkt_df = mkt_df[mkt_df['turnoverVol'] > 0]

In [6]:
df = mkt_df.loc['2018-12-03']
df.head(5)

                secShortName exchangeCD  pre_close  actPreClosePrice  \
trade_date code
2018-12-03 1            Âπ≥ÂÆâÈì∂Ë°å       XSHE      10.36             10.36
           2             ‰∏áÁßëA       XSHE      25.44             25.44
           4            ÂõΩÂÜúÁßëÊäÄ       XSHE      16.22             16.22
           5            ‰∏ñÁ∫™ÊòüÊ∫ê       XSHE       3.00              3.00
           6            Ê∑±ÊåØ‰∏öA       XSHE       5.39              5.39

                 openPrice  highestPrice  lowestPrice  closePrice  \
trade_date code
2018-12-03 1         10.59         10.66        10.47       10.59
           2         26.00         26.06        24.81       25.73
           4         16.39         16.87        16.39       16.72
           5          3.03          3.12         3.03        3.08
           6          5.53          5.68         5.44        5.54

                 turnoverVol  turnover_value  ...  turnoverRate  accum_adj  \
trade_date code                               ...
2018-12-03 1       106409717    1.126375e+09  ...        0.0062        1.0
           2        60814944    1.544457e+09  ...        0.0063        1.0
           4          413290    6.895620e+06  ...        0.0050        1.0
           5        11015887    3.380414e+07  ...        0.0116        1.0
           6        22137903    1.228517e+08  ...        0.0164        1.0

                 negMarketValue   marketValue  chgPct        PE       PE1  \
trade_date code
2018-12-03 1       1.818329e+11  1.818347e+11  0.0222    7.4242    6.6668
           2       2.499713e+11  2.840374e+11  0.0114    9.1787   15.2331
           4       1.387981e+09  1.404090e+09  0.0308  123.0662 -406.3154
           5       2.929765e+09  3.260294e+09  0.0267   85.6761  374.3475
           6       7.469626e+09  7.478973e+09  0.0278    7.7124   11.1462

                      PB  isOpen    vwap
trade_date code
2018-12-03 1      0.7730       1  10.585
           2      2.0288       1  25.396
           4     11.0496       1  16.685
           5      2.4531       1   3.069
           6      1.2836       1   5.549

[5 rows x 21 columns]

### alpha191-1
$(-1*CORR(RANK(DELTA(LOG(VOLUME),1)),RANK(((CLOSE-OPEN)/OPEN)),6)$

In [6]:
%%time
#RANK(DELTA(LOG(VOLUME),1))
expression1 = CSPercentileSecurityValueHolder(
    SecurityDeltaValueHolder(1, SecurityLogValueHolder(SecurityLatestValueHolder('turnoverVol'))))

#(CLOSE-OPEN)/OPEN)
expression2 = CSPercentileSecurityValueHolder((SecurityLatestValueHolder('closePrice') - \
                SecurityLatestValueHolder('openPrice')) / SecurityLatestValueHolder('openPrice'))

#expression3 = (expression1 - expression2)/ expression1  * -1
expression3 = SecurityMovingCorrelation(6, expression2, expression2) * -1
name = 'alpha1'
df = mkt_df.loc['2018-12-26':'2018-12-28'].reset_index().set_index('trade_date')
result = expression3.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

CPU times: user 289 ms, sys: 2.1 ms, total: 291 ms
Wall time: 406 ms

            alpha1  code
trade_date
2018-12-28    -1.0     2
2018-12-28    -1.0  2730
2018-12-28    -1.0  2741
2018-12-28    -1.0  2740
2018-12-28    -1.0  2739

### alpha 191 -2 
$-1*delta(((close-low)-(high-close))/(high-low),1)$

In [7]:
%%time
expression1 = SecurityLatestValueHolder('closePrice'
                         ) * 2  - SecurityLatestValueHolder('lowestPrice'
                                                           ) - SecurityLatestValueHolder('highestPrice')
expression2 = SecurityLatestValueHolder('highestPrice') - SecurityLatestValueHolder('lowestPrice')

alpha2 = SecurityDeltaValueHolder(1, expression1 / expression2) * -1

name='alpha2'
df = mkt_df.loc['2018-12-26':'2018-12-28'].reset_index().set_index('trade_date')
result = alpha2.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

CPU times: user 167 ms, sys: 314 ¬µs, total: 167 ms
Wall time: 166 ms

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in true_divide
  # Remove the CWD from sys.path while we load stuff.

              alpha2  code
trade_date
2018-12-28 -0.750000     6
2018-12-28 -1.020408  2733
2018-12-28 -0.018307  2745
2018-12-28 -1.453416  2743
2018-12-28 -1.322245  2742

## alpha191-3
$-1*SUM((CLOSE=DELAY(CLOSE,1)?0:CLOSE-(CLOSE>DELAY(CLOSE,1)?MIN(LOW,DELAY(CLOSE,1)):MAX(HIGH,DELAY(CLOSE,1)))),6)$

In [8]:
%%time
#CLOSE-(CLOSE>DELAY(CLOSE,1)
expression1 = SecurityLatestValueHolder('closePrice') - (
    SecurityLatestValueHolder('closePrice') > SecurityShiftedValueHolder(1,
        SecurityLatestValueHolder('closePrice')))

#MIN(LOW,DELAY(CLOSE,1))
expression2 = SecurityMinimumValueHolder(SecurityLatestValueHolder('closePrice'),
                                         SecurityShiftedValueHolder(1, SecurityLatestValueHolder('closePrice')))

#MAX(HIGH,DELAY(CLOSE,1)
expression3 = SecurityMaximumValueHolder(SecurityLatestValueHolder('highestPrice'),
                                         SecurityShiftedValueHolder(1, SecurityLatestValueHolder('closePrice')))

#DELAY(CLOSE,1)?0:CLOSE-(CLOSE>DELAY(CLOSE,1) -->DELAY(CLOSE,1)?0:expression1
expression4 = SecurityIIFValueHolder(SecurityShiftedValueHolder(1,
                SecurityLatestValueHolder('closePrice')), 0, expression1)

#(CLOSE=expression4?expression2:expression3)
expression5 = SecurityIIFValueHolder(expression4, expression2, expression3)

#SUM(CLOSE,6)
expression6 = SecurityMovingSum(6, expression5) * -1

name = 'alpha3'
df = mkt_df.loc['2018-12-20':'2018-12-28'].reset_index().set_index('trade_date')
result = expression6.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

CPU times: user 611 ms, sys: 5.73 ms, total: 617 ms
Wall time: 616 ms

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in greater

            alpha3    code
trade_date
2018-12-28    -0.0  603999
2018-12-28    -0.0    2730
2018-12-28    -0.0    2741
2018-12-28    -0.0    2740
2018-12-28    -0.0    2739

## alpha191-4
$(((SUM(CLOSE,8)/8)+STD(CLOSE,8))<(SUM(CLOSE,2)/2))?-1:(SUM(CLOSE,2)/2<(SUM(CLOSE,8)/8-STD(CLOSE,8))?1:(1<=(VOLUME/MEAN(VOLUME,20))?1:-1))$

In [9]:
%%time
#(SUM(CLOSE,8)/8)
expression1 = (SecurityMovingSum(8, 'closePrice') / 8)
# STD(CLOSE,8))
expression2 = SecurityMovingStandardDeviation(8, 'closePrice')

expression3 = expression1 + expression2

#(SUM(CLOSE,2)/2)
expression4 = (SecurityMovingSum(2, 'closePrice') / 2)


expression5 = expression3 < expression4 

expression6 = SecurityLatestValueHolder('turnoverVol') / SecurityMovingAverage(20, 'turnoverVol')

expression7 = 1 <= expression6
expression8 = SecurityIIFValueHolder(expression7, 1, -1)
expression9 = SecurityIIFValueHolder(expression1-expression2, 1, expression8)
expression10 = SecurityIIFValueHolder(expression5, -1, expression4<expression9)
name = 'alpha4'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = expression10.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

CPU times: user 862 ms, sys: 5.11 ms, total: 867 ms
Wall time: 866 ms

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in less

            alpha4    code
trade_date
2018-12-28     0.0  603999
2018-12-28     0.0    2730
2018-12-28     0.0    2741
2018-12-28     0.0    2740
2018-12-28     0.0    2739

## alpha191-5
$-1*TSMAX(CORR(TSRANK(VOLUME,5),TSRANK(HIGH,5),5),3)$

In [11]:
# TSRANK(VOLUME,5)
expression1 = SecurityMovingRank(5, 'turnoverVol')
# TSRANK(HIGH,5)
expression2 = SecurityMovingRank(5, 'highestPrice')

#ùê∂ùëÇùëÖùëÖ(ùëáùëÜùëÖùê¥ùëÅùêæ(ùëâùëÇùêøùëàùëÄùê∏,5)
expression3 = SecurityMovingCorrelation(5, expression1 , expression2)

expression4 = SecurityMovingMax(3, expression3) * -1

name = 'alpha5'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = expression4.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

              alpha5    code
trade_date
2018-12-28  0.184637  603999
2018-12-28  0.298807    2728
2018-12-28 -0.067267    2739
2018-12-28 -0.884652    2738
2018-12-28 -0.848668    2737

## alpha191-6
$-1*RANK(SIGN(DELTA(OPEN*0.85+HIGH*0.15,4)))$

In [12]:
%%time
#SIGN(DELTA(OPEN*0.85+HIGH*0.15,4))
expression1 = SecuritySignValueHolder(SecurityDeltaValueHolder(4,
        SecurityLatestValueHolder('openPrice') * 0.85 + SecurityLatestValueHolder('highestPrice') * 0.15))

expression2 = CSPercentileSecurityValueHolder(expression1) * -1

name = 'alpha6'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = expression2.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

CPU times: user 271 ms, sys: 4.05 ms, total: 275 ms
Wall time: 274 ms

              alpha6    code
trade_date
2018-12-28 -0.363905  603999
2018-12-28 -0.864892    2730
2018-12-28 -0.864892    2741
2018-12-28 -0.363905    2740
2018-12-28 -0.363905    2739

## alpha191-7
$(RANK(MAX(VWAP-CLOSE,3))+RANK(MIN(VWAP-CLOSE,3)))*RANK(DELTA(VOLUME,3))$

In [13]:
#RANK(MAX(VWAP-CLOSE,3))
expression1 = CSPercentileSecurityValueHolder(SecurityMaximumValueHolder(
            SecurityLatestValueHolder('vwap') - SecurityLatestValueHolder('closePrice'),3))
                                         
#RANK(MIN(VWAP-CLOSE,3))
expression2 = CSPercentileSecurityValueHolder(
            SecurityMinimumValueHolder(SecurityLatestValueHolder('vwap'
                                                                ) - SecurityLatestValueHolder('closePrice'),3))

#RANK(DELTA(VOLUME,3))
expression3 = SecurityDeltaValueHolder(3, SecurityLatestValueHolder('turnoverVol'))

expression4 = expression1 + expression2 * expression3
name = 'alpha7'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = expression1.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

              alpha7    code
trade_date
2018-12-28  0.500141  603999
2018-12-28  0.500141    2730
2018-12-28  0.500141    2741
2018-12-28  0.500141    2740
2018-12-28  0.500141    2739

## alpha191-8
$-1*RANK(DELTA((HIGH+LOW)/10+VWAP*0.8,4))$

In [14]:
exression1 = SecurityLatestValueHolder('highestPrice') + SecurityLatestValueHolder('lowestPrice') / 10
exression2 =  SecurityLatestValueHolder('vwap') * 0.8
exression3 = CSPercentileSecurityValueHolder(exression1 + exression2 ,4) * -1

name = 'alpha8'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression3.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

              alpha8    code
trade_date
2018-12-28 -0.255565  603999
2018-12-28 -0.435334    2730
2018-12-28 -0.798817    2741
2018-12-28 -0.298394    2740
2018-12-28 -0.883629    2739

## alpha191-9---SMAÂÖ¨Âºè--MAÂÖ¨Âºè‰ª£Êõø
$SMA(((HIGH+LOW)/2-(DELAY(HIGH,1)+DELAY(LOW,1))/2)*(HIGH-LOW)/VOLUME,7,2)$

In [15]:
# SMA(exression4,7,2)
# (HIGH+LOW)/2
exression1 = (SecurityLatestValueHolder('highestPrice') + SecurityLatestValueHolder('lowestPrice')) / 2
# DELAY(HIGH,1)
exression2 = SecurityDeltaValueHolder(1, SecurityLatestValueHolder('highestPrice'))
# DELAY(LOW,1)
exression3 = SecurityDeltaValueHolder(1,SecurityLatestValueHolder('lowestPrice'))
# (exression1-(exression2 + exression3)/2)*(HIGH-LOW)/VOLUME
exression4 = (exression1 - (exression2 + exression3 ) / 2) * \
        (SecurityLatestValueHolder('highestPrice') - SecurityLatestValueHolder('lowestPrice'))\
        / SecurityLatestValueHolder('turnoverVol')

exression5 = SecurityMovingMax(2,exression4)
name = 'alpha9'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression5.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

                  alpha9    code
trade_date
2018-12-28  4.507572e-07  603999
2018-12-28  1.341172e-05    2728
2018-12-28  2.404503e-06    2739
2018-12-28  1.662318e-05    2738
2018-12-28  3.757200e-06    2737

## alpha191-11
$SUM(((CLOSE-LOW)-(HIGH-CLOSE))/(HIGH-LOW)*VOLUME,6)$

In [16]:
# SUM(exression1 /(HIGH-LOW)*VOLUME,6)
exression1 = (SecurityLatestValueHolder('closePrice') - SecurityLatestValueHolder('lowestPrice')) - \
        (SecurityLatestValueHolder('highestPrice') - SecurityLatestValueHolder('closePrice'))

exression2 = exression1 / (SecurityLatestValueHolder('highestPrice') - SecurityLatestValueHolder('lowestPrice'))\
        * SecurityLatestValueHolder('turnoverVol')
exression3 = SecurityMovingSum(6, exression2) # SUM‰ΩøÁî®ÊñπÂºè
name = 'alpha11'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression2.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in true_divide
  # Remove the CWD from sys.path while we load stuff.

                 alpha11    code
trade_date
2018-12-28 -7.463852e+05  603999
2018-12-28 -1.635997e+06    2730
2018-12-28  1.605240e+05    2741
2018-12-28 -3.008700e+05    2740
2018-12-28  8.876912e+06    2739

## alpha191-12
$RANK(OPEN-MA(VWAP,10))*RANK(ABS(CLOSE-VWAP))*(-1)$

In [17]:
exression1 = SecurityLatestValueHolder('openPrice') - SecurityMovingAverage(10, 'vwap') #‰∏çËÉΩÂíåopenËÆ°ÁÆó
exression2 = CSPercentileSecurityValueHolder(
        SecurityLatestValueHolder('closePrice') - SecurityLatestValueHolder('vwap'))
exression3 = exression2 * -1
name = 'alpha12'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression2.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

             alpha12    code
trade_date
2018-12-28  0.399690  603999
2018-12-28  0.254720    2730
2018-12-28  0.891660    2741
2018-12-28  0.432657    2740
2018-12-28  0.969005    2739

## alpha191-13
$((HIGH*LOW)^{0.5})-VWAP$

In [18]:
alpha13 = SecuritySqrtValueHolder((LAST('highestPrice') * LAST('lowestPrice'))) - LAST('vwap')
name = 'alpha13'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression2.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

             alpha13    code
trade_date
2018-12-28  0.399690  603999
2018-12-28  0.254720    2730
2018-12-28  0.891660    2741
2018-12-28  0.432657    2740
2018-12-28  0.969005    2739

## alpha191-14
$CLOSE-DELAY(CLOSE,5)$

In [19]:
alpha14 = SecurityLatestValueHolder('closePrice') - \
SecurityDeltaValueHolder(5, SecurityLatestValueHolder('closePrice'))
name = 'alpha14'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = alpha14.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

            alpha14    code
trade_date
2018-12-28     5.14  603999
2018-12-28    13.01    2728
2018-12-28    23.31    2739
2018-12-28    15.07    2738
2018-12-28    15.38    2737

## alpha191-15
$OPEN/DELAY(CLOSE,1)-1$

In [20]:
alpha15 = SecurityLatestValueHolder('openPrice') /\
SecurityDeltaValueHolder(5,SecurityLatestValueHolder('closePrice')) - 1
name = 'alpha15'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = alpha15.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in true_divide
  """

               alpha15    code
trade_date
2018-12-28  -17.266667  603999
2018-12-28 -144.583333    2732
2018-12-28  -65.333333    2743
2018-12-28  -59.500000    2742
2018-12-28 -202.250000    2741

## alpha191-16
$(-1*TSMAX(RANK(CORR(RANK(VOLUME),RANK(VWAP),5)),5))$

In [21]:
# (-1*TSMAX(RANK(CORR(exression1,RANK(VWAP),5)),5))
exression1 = CSPercentileSecurityValueHolder(SecurityLatestValueHolder('turnoverVol'))
exression2 = CSPercentileSecurityValueHolder(SecurityLatestValueHolder('vwap'))
exression3 = CSPercentileSecurityValueHolder(exression1 > exression2)
exression4 = SecurityMovingRank(5, exression3)
name = 'alpha16'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression4.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

            alpha16    code
trade_date
2018-12-28      2.0  603999
2018-12-28      4.0    2730
2018-12-28      2.0    2741
2018-12-28      2.0    2740
2018-12-28      1.0    2739

## alpha191-17
$RANK(VWAP-MAX(VWAP,15))^{DELTA(CLOSE,5)}$

In [23]:
# RANK(VWAP-MAX(VWAP,15))^DELTA(CLOSE,5)
exression1 = SecurityDeltaValueHolder(5, SecurityLatestValueHolder('closePrice'))
expression2 = SecurityMovingMax(15, SecurityLatestValueHolder('vwap'))
expression3 = SecurityLatestValueHolder('vwap') - expression2
expression4 = CSPercentileSecurityValueHolder(expression2)
name = 'alpha17'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = expression4.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

             alpha17    code
trade_date
2018-12-28  0.267117  603999
2018-12-28  0.455058    2730
2018-12-28  0.788391    2741
2018-12-28  0.299239    2740
2018-12-28  0.892082    2739

## alpha191-18
$CLOSE/DELAY(CLOSE,5))$

In [24]:
alpha18 = SecurityLatestValueHolder('closePrice')/ SecurityDeltaValueHolder(5,
    SecurityLatestValueHolder('closePrice'))
name = 'alpha18'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = alpha15.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in true_divide
  """

               alpha18    code
trade_date
2018-12-28  -17.266667  603999
2018-12-28 -144.583333    2732
2018-12-28  -65.333333    2743
2018-12-28  -59.500000    2742
2018-12-28 -202.250000    2741

## alpha191-19
$(CLOSE<DELAY(CLOSE,5)?(CLOSE/DELAY(CLOSE,5)-1):(CLOSE=DELAY(CLOSE,5)?0:(1-DELAY(CLOSE,5)/CLOSE)))$

In [25]:
#DELAY(CLOSE,5)
exression1 = SecurityDeltaValueHolder(5, SecurityLatestValueHolder('closePrice'))

#CLOSE<DELAY(CLOSE,5)
exression2 = SecurityLatestValueHolder('closePrice') < exression1

#CLOSE/DELAY(CLOSE,5)-1
exression3 = SecurityLatestValueHolder('closePrice') / SecurityDeltaValueHolder(5,
    SecurityLatestValueHolder('closePrice')) - 1

#1-DELAY(CLOSE,5)/CLOSE)
exression4 = 1 - SecurityDeltaValueHolder(5, SecurityLatestValueHolder('closePrice')) / \
        SecurityLatestValueHolder('closePrice')


#(CLOSE<DELAY(CLOSE,5)?(CLOSE/DELAY(CLOSE,5)-1):(CLOSE=DELAY(CLOSE,5)?0:(1-DELAY(CLOSE,5)/CLOSE))) -->
# exression2?exression3:(CLOSE=exression1?0:exression4)
exression5 = SecurityIIFValueHolder(exression1,0,exression4)

exression6 = SecurityIIFValueHolder(exression2,exression3,exression5)
name = 'alpha19'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = exression6.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in less
/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:23: RuntimeWarning: divide by zero encountered in true_divide

            alpha19    code
trade_date
2018-12-28      0.0  603999
2018-12-28      0.0    2730
2018-12-28      0.0    2741
2018-12-28      0.0    2740
2018-12-28      0.0    2739

## alpha191-20
$(CLOSE/DELAY(CLOSE,6)-1)*100$

In [26]:
alpha20 = SecurityLatestValueHolder('closePrice') / SecurityDeltaValueHolder(6,
    SecurityLatestValueHolder('closePrice')) - 1

name = 'alpha20'
df = mkt_df.loc['2018-12-19':'2018-12-28'].reset_index().set_index('trade_date')
result = alpha20.transform(df,name=name,category_field='code')
result.sort_values(by='trade_date', ascending=False).head(5)

/home/kerry/work/env/sentry/lib/python3.6/site-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in true_divide

              alpha20  code
trade_date
2018-12-28 -15.888889     5
2018-12-28 -69.440000  2732
2018-12-28 -27.500000  2743
2018-12-28 -38.454545  2742
2018-12-28 -42.710526  2741